.kudoEvent {
  background: url('/img/lich_king_bg.jpg');
  background-size: cover;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  padding-right: 0px;
  height: 100vh;
  width: 100%;
}

.kudoEvent .event_info {
  flex-basis: 460px;
  width: 460px;
  min-width: 460px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 50px 50px 0 100px;
}

.kudoEvent .event_info > div {
  width: 100%;
  margin-bottom: 50px;
}

.kudoEvent .event_info .eventInfo {
  margin-bottom: 28px;
}

.kudoEvent .event_info .kudoForm {
  margin-bottom: 0px;
}

.kudoEvent .event_cards {
  margin-left: 100px;
  padding-top: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: scroll;
  flex: 1;
}

.kudoEvent .event_cards .card {
  width: 296px;
}

@media only screen and (max-width: 800px) {
  .kudoEvent {
    padding: 0 0 0 20px;
  }

  .kudoEvent .event_info {
    flex-basis: 320px;
    width: 320px;
    min-width: 320px;
    padding: 0px 10px 0 0px;
  }

  .kudoEvent .event_cards {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 580px) {
  .kudoEvent {
    background: #0b1f39;
    background: linear-gradient(140deg, #825640 0%, #0b1f39 100%);
    flex-direction: column;
    padding: 0px;
    height: auto;
  }

  .kudoEvent .event_info {
    width: 100%;
    margin: 0;
    padding: 7%;
  }

  .kudoEvent .event_cards {
    width: 100%;
    margin: 0;
    padding: 7%;
  }

  .kudoEvent .event_cards .card {
    margin: 10px 0;
    min-width: unset;
    width: 100%;
  }

  .kudoEvent .event_cards .card .card__text {
    min-width: unset;
  }
}
