.kudoEvent {
  background: url('/img/lich_king_bg.jpg');
  background-size: cover;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  padding-right: 0px;
  min-height: 100vh;
  width: 100%;
}

.kudoEvent .event_info {
  float: left;
  flex-basis: 460px;
  width: 460px;
  min-width: 460px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 50px 50px 0 100px;
}

.kudoEvent .event_info > div {
  width: 100%;
  margin-bottom: 50px;
}

.kudoEvent .event_info .eventInfo {
  margin-bottom: 28px;
}

.kudoEvent .event_info .kudoForm {
  margin-bottom: 0px;
}

.kudoEvent .event_cards {
  margin-left: 100px;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  flex: 1;
}

.kudoEvent .event_cards .card {
  width: 296px;
}

.kudoEvent .newCard {
  display: flex;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 4%;
  position: absolute;
  background: rgba(83, 83, 83, 0.3);
}

.kudoEvent .newCard.hidden {
  display: none;
}

.kudoEvent .newCard > div {
  position: relative;
  margin: auto;
  width: 70%;
  height: 70%;
  animation: popup 0.3s ease-out;
}

.kudoEvent .newCard .close {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 12px;
  height: 12px;
  z-index: 11;
  cursor: pointer;
}

.kudoEvent .newCard .card {
  height: 100%;
  width: 100%;
  margin: 0;
}

.kudoEvent .newCard .card .card__icon {
  width: 33%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%),
    rgba(198, 216, 211, 1);
}

.kudoEvent .newCard .card .card__icon img {
  width: 60%;
}

.kudoEvent .newCard .card .card__text,
.kudoEvent .newCard .card .card__text-highlighted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fdf0d5;
}

.kudoEvent .newCard .card .card__text h3,
.kudoEvent .newCard .card .card__text-highlighted h3 {
  font-size: 46px;
  line-height: 54px;
  padding: 1rem 2rem;
  text-align: center;
  margin: 0;
}

.kudoEvent .newCard .card .card__text p,
.kudoEvent .newCard .card .card__text-highlighted p {
  font-size: 40px;
  line-height: 49px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.kudoEvent .newCard .card .card__likes {
  display: none;
}

@media only screen and (max-width: 800px) {
  .kudoEvent {
    padding: 0 0 0 20px;
  }

  .kudoEvent .event_info {
    flex-basis: 320px;
    width: 320px;
    min-width: 320px;
    padding: 0px 10px 0 0px;
  }

  .kudoEvent .event_cards {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 580px) {
  .kudoEvent {
    background: #0b1f39;
    background: linear-gradient(140deg, #825640 0%, #0b1f39 100%);
    flex-direction: column;
    padding: 0px;
    height: auto;
  }

  .kudoEvent .event_info {
    width: 100%;
    margin: 0;
    padding: 7%;
  }

  .kudoEvent .event_cards {
    width: 100%;
    margin: 0;
    padding: 7%;
  }

  .kudoEvent .event_cards .card {
    margin: 10px 0;
    min-width: unset;
    width: 100%;
  }

  .kudoEvent .event_cards .card .card__text {
    min-width: unset;
  }

  .kudoEvent .newCard {
    display: none;
  }
}

@keyframes popup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}