:root {
  --card-bg-color-text: rgba(255, 255, 255, 0.9);
  --card-bg-color-body-highlighted: rgba(253, 240, 213, 0.9);
  --card-bg-color-icon: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%),
    rgba(198, 216, 211, 0.9);
  --card-text-color-h3: #331832;
  --card-text-color: #6d686d;
  --card-bg-color-likes: #f0544f;
  --card-bg-color-likes-noVote: #bcbdc4;
  --card-text-color-likes: #ffffff;
}

.card {
  display: flex;
  position: relative;
  min-height: 80px;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  background: transparent;
  border-radius: 10px;
  margin: 11px;
}

.card .card__icon {
  min-width: 70px;
  width: 70px;
  background: var(--card-bg-color-icon);
  border-radius: 10px 0px 0px 10px;
  text-align: center;
}

.card .card__icon img {
  width: 33px;
  margin: 0 auto;
}

.card .card__text {
  min-width: 226px;
  width: 100%;
}

.card .card__text,
.card .card__text-highlighted {
  border-radius: 0px 10px 10px 0px;
  padding: 20px 17px 20px 17px;
  background: var(--card-bg-color-text);
}
.card .card__text-highlighted {
  background: var(--card-bg-color-body-highlighted);
}

.card .card__text h3,
.card .card__text-highlighted h3 {
  font-family: 'Ubuntu_Normal';
  font-size: 14px;
  line-height: 16px;
  color: var(--card-text-color-h3);
  margin: 0px;
  margin-bottom: 6px;
}

.card .card__text p,
.card .card__text-highlighted p {
  font-family: 'Ubuntu_Normal';
  font-size: 11px;
  line-height: 14px;
  color: var(--card-text-color);
  margin: 0px;
}

.card .card__likes,
.card .card__likes-yourChoice {
  width: 22px;
  height: 22px;
  position: absolute;
  top: -11px;
  right: -11px;
  background: var(--card-bg-color-likes-noVote);
  border-radius: 50%;
  color: var(--card-text-color-likes);
  font-family: 'Ubuntu_Normal';
  font-size: 10px;
  line-height: 22px;
  text-align: center;
  transition: background-color 0.3s ease-out;
}
.card .card__likes {
  cursor: pointer;
}

.card .card__likes-yourChoice {
  background: var(--card-bg-color-likes);
  animation: pulse 0.3s;
  animation-iteration-count: 2;
}

@keyframes pulse {
  from {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.3, 1.3);
  }
  to {
    transform: scale(1, 1);
  }
}
