.kudoForm {
  background-color: #ffffff;
  border-radius: 10px;
  font-family: 'Ubuntu_Normal';
}

.kudoForm input,
.kudoForm textarea {
  font-family: 'Ubuntu_Normal';
}

.kudoForm .typePicker {
  font-family: 'Ubuntu_Normal';
  display: flex;
  align-items: center;
  height: 67px;
  border-radius: 10px 10px 0 0;
  background-color: #fdf0d5;
  font-size: 20px;
  color: #331832;
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.kudoForm .typePicker:hover {
  background-color: #e4ab32;
}

.kudoForm .typePicker .cardIcon {
  max-width: 40px;
  max-height: 40px;
  margin-right: 16px;
}

.kudoForm .typeTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.kudoForm .typePicker .select-search-box__options {
  display: flex;
  flex-wrap: wrap;
}
.kudoForm .typePicker .select-search-box__option:hover {
  background: #f7e8d4;
}
.kudoForm .typePicker .select-search-box__option > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kudoForm .typePicker .select-search-box__options .cardIcon {
  margin-right: 10px;
  width: 30px;
  max-width: 30px;
  max-height: 30px;
  min-width: 30px;
}

.kudoForm .typePicker .select-search-box__options li {
  width: 50%;
  padding: 14px;
  height: 59px;
  text-transform: capitalize;
  background-color: #fbf8f4;
}

.kudoForm .typePicker .select-search-box__options li:hover {
  background: rgba(47, 204, 139, 0.1);
}

.kudoForm .main {
  height: 237px;
  display: flex;
  flex-direction: column;
}

.kudoForm .name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 23px;
  height: 55px;
  font-size: 12px;
  color: #6d686d;
  border-bottom: 1px solid rgba(198, 216, 211, 0.3);
}

.kudoForm .name .select-search-box__search {
  background-color: transparent;
  width: 100%;
  height: 53px;
  margin-left: 20px;
  border-radius: initial;
  border: none;
  font-size: 16px;
  color: #6d686d;
  margin-bottom: 0px;
}

.kudoForm .name .select-search-box .select-search-box__select {
  top: 55px;
  width: calc(100% - 23px);
}

.kudoForm .message {
  display: flex;
  align-items: center;
  padding: 21px 23px;
  flex-grow: 1;
}

.kudoForm .message textarea {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  font-size: 12px;
  color: #6d686d;
  resize: none;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  margin: 0;
}

.kudoForm .name.red,
.kudoForm .message.red {
  animation: blink 0.7s ease;
}

.kudoForm .submit {
  font-family: 'Ubuntu_Bold';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 49px;
  border-radius: 0 0 10px 10px;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  background: linear-gradient(180deg, #f0544f 0%, #d74945 100%), #f0544f;
  cursor: pointer;
}
.kudoForm .submit:hover {
  background: #f0544f;
}

.kudoForm .submit.disabled {
  pointer-events: none;
  background: linear-gradient(180deg, #cecece 0%, #bcbdc4 100%), #bcbdc4;
}

@keyframes blink {
  0% {
    background: transparent;
  }
  50% {
    background: #f0544fc7;
  }
  100% {
    background: transparent;
  }
}

/* react-select-search */
.select-search-box {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  font-family: 'Ubuntu_Normal';
}

.select-search-box *,
.select-search-box *::after,
.select-search-box *::before {
  box-sizing: inherit;
}

.select-search-box__select {
  display: none;
}

.select-search-box__select.select-search-box__select--display {
  display: block;
  border-radius: 0;
}

.select-search-box__search {
  outline: none;
}

.select-search-box__value {
  position: relative;
}

.select-search-box__value::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: calc(50% - 9px);
  right: 19px;
  width: 11px;
  height: 11px;
  transform: rotate(45deg);
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  pointer-events: none;
}

.select-search-box__input {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: none;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  text-align: left;
  line-height: 36px;
  -webkit-appearance: none;
}

.select-search-box__input::-webkit-search-decoration,
.select-search-box__input::-webkit-search-cancel-button,
.select-search-box__input::-webkit-search-results-button,
.select-search-box__input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.select-search-box__input:hover {
  border-color: #2fcc8b;
}

.select-search-box__input:not([readonly]):focus {
  cursor: initial;
}

.select-search-box__select {
  background: #fff;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
}

.select-search-box:not(.select-search-box--multiple) .select-search-box__select {
  position: absolute;
  z-index: 2;
  top: 53px;
  right: 0;
  left: 0;
  overflow: auto;
  max-height: 360px;
}

.select-search-box__options {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.select-search-box__option {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 47px;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: none;
  outline: none;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.select-search-box__option.is-selected {
  background: #2fcc8b;
  color: #fff;
}

.select-search-box__option.is-highlighted,
.select-search-box__option:not(.is-selected):hover,
.select-search-box__option:not(.select-search-box__option--hover):hover,
.select-search-box__option--hover {
  background: rgba(47, 204, 139, 0.1);
}

.select-search-box__option--hover:hover,
.select-search-box__option--hover:not(.is-selected):hover {
  background: rgba(47, 204, 139, 0.2);
}
