.soundSwitch,
.soundSwitch--on,
.soundSwitch--off {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.soundSwitch--on {
  background: url('/img/volume.png');
  background-size: 20px;
}

.soundSwitch--off {
  background: url('/img/no-sound.png');
  background-size: 20px;
}
